@import"./navigation";
@import"./reset";


$main-color:#AA6231;

.banner{
    height: 100vh;
    width: 100%;
    display:flex;
   flex-wrap: wrap-reverse;
   align-items: center;
   justify-content: center;
    .banner-img{

       margin: 20px auto;

    }

    .banner-text{

        display: flex;
        flex-direction: column;

        p{
            color: #fff;
            font-size: 18px ;
            padding: 10px;
            line-height: 1.4;
            text-align: center;
        }


        .banner-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width: 100%;

        .banner-menu{
            display: flex;
            align-items: center;
            padding: 10px;

            .sub{
                padding: 9px 30px;
                background: white;
                color: black;
                text-decoration: none;
                border-radius: 30px;
                position: absolute;
                top: 275px;
                right: 104px;
                &:hover{
                    background: $main-color;
                    border: 1px solid white;
                }
                
            }
        }

         .hamburger{
             
            display: flex;
            align-items: center;
            justify-content: center;
            // position: relative;
            z-index: 1;
           
           
           
            h2{
                font-size: 18px;
                margin-right: 10px;
                color: #fff;
                
            }

            svg{
                z-index: 3;
            }

            &.open{

                h2{
                    z-index: 3;
                    position: relative;
                    left: -161px;
                    transition: 0.8s ease;
                    
                }
                

                
                
            }

            .sidemenu{
                position: absolute;
                background-color: black;
                list-style-type: none;
                left: 300vw;
                height: 565px;
                width: 100%;
                top: 0;
                transition: 0.4s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                z-index: 1;

                li{
                    margin: 10px auto;

                    a{
                        color: white;
                        font-size: 23px;
                        font-family: 'Courier New', Courier, monospace;
                        text-decoration: none;
                        padding: 30px auto; 
                        
                    }


                }

                


            }

            .open{
                left: 0;
                
                top: 0;
                
               
            }

            
          
        }

    }

    .main-text{
        position: relative;
        padding: 15px;
        margin: 0 auto;

        h1{
            font-size: 33px;
            color: #fff;
        }
        p{
            color: #fff;
            font-size: 18px;
        }
        &::before{
            position: absolute;height: 1px;background: black;content: "";top: 7px;width: 100px;
        }
        &::after{
            position: absolute;height: 1px;background: black;content: "";top: 90px;width: 100px;
            right: 29px;
        }
    }

   
}
}